<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- path to your log file, where you want to store logs -->
        <file>log.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %m%n</pattern>
        </encoder>
    </appender>

    <!--my-->
    <logger name="demoGame.gameplay.spells" level="ERROR"/>
    <logger name="demoGame.gameplay.shop" level="TRACE"/>
    <logger name="demoGame.ui.ShopUiScreen" level="TRACE"/>


    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.jme3" level="WARN"/>

    <logger name="com.jme3.asset.AssetConfig" level="ERROR"/>
    <!-- spams other libs   -->
    <logger name="com.jme3.bullet.control.BetterCharacterControl" level="ERROR"/>
    <logger name="com.jme3.util.TangentBinormalGenerator" level="ERROR"/>

    <logger name="de.lessvoid.nifty.render.batch" level="ERROR"/>
    <logger name="de.lessvoid.nifty.loaderv2.types.ControlType" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
